#################################
# iCEblink40 HX1K Demonstration Design
# Family & Device:    iCE40HX1K
# Package:            VQ100
#################################

###IOSet List 22

# Capacitive-sense buttons
#set_io BTN1 60 -pullup yes
#set_io BTN2 57 -pullup yes
#set_io BTN3 54 -pullup yes
#set_io BTN4 52 -pullup yes

# LED outputs
set_io LEDS[0] 82
set_io LEDS[1] 83
set_io LEDS[2] 86

# 25 MHz clock input
set_io CLK_25 62

# N64 controller
set_io N64_din 89	# CTRL1

# SPI
set_io CS_n 49
set_io MISO 45
set_io SCLK 48 -pullup yes
#set_io CS_n 25
#set_io MISO 24
#set_io SCLK 20 -pullup yes
