#################################
# Raspbendo 64
# proto1 pin assigments
#################################


# LED outputs
set_io LEDS[0] 82
set_io LEDS[1] 83
set_io LEDS[2] 86

# 25 MHz clock input
set_io CLK_25 62

# N64 controller
set_io N64_din 89	# CTRL1

# SPI
set_io CS_n 49
set_io MISO 45
set_io SCLK 48 -pullup yes

###########################################################
# Cartridge

set_io CART_AD[0]        2
set_io CART_AD[1]        3
set_io CART_AD[2]        4
set_io CART_AD[3]        8
set_io CART_AD[4]        25
set_io CART_AD[5]        24
set_io CART_AD[6]        19
set_io CART_AD[7]        18
set_io CART_AD[8]        36
set_io CART_AD[9]        30
set_io CART_AD[10]       27
set_io CART_AD[11]       26
set_io CART_AD[12]       97
set_io CART_AD[13]       94
set_io CART_AD[14]       91
set_io CART_AD[15]       90

set_io CART_RD           1
set_io CART_ALEL         9
set_io CART_ALEH         12

###########################################################

